:root{
    --main-text-color: #212121;
    --secondary-text-color: #ffffff;
    --ouwer-text-color: #757575;
    --acent-color: #2196f3;
    --logo-color-text: #000000;
    --butons-port-color: #f5f5f5;
    --backround-section-color: #F5F4Fa;
    --background-footer-color: #2f303a;
    --background-section: #e5e5e5;
    --background-color: #ffffff;
    --main-font: Roboto, sans-serif;

}



body{
    background-color: var(--background-color);
    color: var(--main-text-color);
    font-family: var(--main-font);
    font-size: 14px;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    /* // или через класс .footer-address */
    font-style: normal;
}

button {
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}


.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.link {
    text-decoration: none;

}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* header */

.header{
    border-bottom: 1px solid #ECECEC;
}

.header-container{ 
    display: flex;
    align-items: center;
     
}

.logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--acent-color);
    margin-right: 95px;
    display: flex;
        
}


     
.logo-header{
    color: var(--logo-color-text);
    
}

.visually-hidden{
    position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;

}

.nav-list {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 32px 0;
    
}

.nav-link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: block;
    
    color: var(--main-text-color);
     
}

.current {
    color: var(--acent-color);
}

.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -28px;
    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: var(--acent-color);
}

.nav-link:hover, .nav-link:focus{
    color: var(--acent-color);
}

.contact-list { 
        display: flex;
        margin-left: auto;
        gap: 50px;

        
}

.header-mail{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.02em;

color: var(--ouwer-text-color);
display: flex;
    gap: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail:hover, .header-mail:focus{
    color: var(--acent-color);
    
}

.header-phone{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    
    color: var(--ouwer-text-color);
    display: flex;
        gap: 10px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.header-phone:hover, .header-phone:focus{
    color: var(--acent-color);}
    

.header-icon{
    fill: currentColor;
    
}
/* main */
.hero{
    background-color: var(--background-footer-color);
    padding: 200px 0;
    background-image: linear-gradient(rgba(47,48,58,0.4),rgba(47,
        48,58,0.4)), url(../image/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    

}

.title{
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);      
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;    
    color: var(--secondary-text-color);
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.first-btn{
    font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
line-height: calc(30/16);
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--secondary-text-color);
background-color: var(--acent-color);
cursor: pointer; 
padding: 10px 32px;
min-width: 216px;
margin: 0 auto;

    
}

/*---Переаги-----*/
.features {
font-weight: 700;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 10px;

color: var(--main-text-color);
}

.features-bg{
    display: flex;
        justify-content: center;
        align-items: center;
        width: 270px;
        height: 120px;
        background-color: #F5F4FA;
        color: #AFB1B8;
        margin-bottom: 30px;
        
}
.features-icon{
    justify-content: center;
    align-items: center;
    color: var(--main-text-color);
    

}
.features-list{
    display: flex;
    gap: 30px;
}


.features-info{
    font-weight: 400;
font-size: 14px;
line-height: calc(24/14);
color: var(--ouwer-text-color);
width: 270px;
}

/*-----Чим ми займаємось-----*/

.title-doing {
    font-weight: 700;
font-size: 36px;
line-height: calc(42/36);
text-align: center;
letter-spacing: 0.03em;
color:  var(--main-text-color);
margin-bottom: 50px;
}

.doing {
    padding-top: 0;
}

.image-list{
    display: flex;
    gap: 30px;
    
}

.image-doing{
    width: 370px;
    display: block;
    max-width: 100%;
    height: auto;
}

.doing-item{
    position: relative;
}

.overlay{
    position: absolute;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
}

.overlay-text {
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16/14);
        text-align: center;
        text-transform: uppercase;
    
        color: #FFFFFF;
}
/*-----Команда-----*/
.team-section{
background-color: var(--backround-section-color);
}


.team{
    font-weight: 700;
font-size: 36px;
line-height: calc(42/36);
text-align: center;
letter-spacing: 0.03em;

color: var(--main-text-color);
}

.image-team{
    width: 270px;
    display: block;
    max-width: 100%;
    height: auto;

}

.team-list{
    display: flex;
    gap: 30px;
    margin-top: 59px;    
}
.card {
    width: 270px;
    background-color: var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    
}

.person {
    padding: 30px 0;

}
.name{
    font-weight: 500;
font-size: 16px;
line-height: calc(19/16);
text-align: center;
letter-spacing: 0.03em;

color:  var(--main-text-color);
margin-bottom: 10px;
}

.proffesion{
font-size: 16px;
line-height: calc(19/16);
text-align: center;
letter-spacing: 0.03em;

color: var(--ouwer-text-color);
margin-bottom: 16px;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.socials-link{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: var(--background-color);
    color:#AFB1B8;
}

.socials-icon {
    fill: currentColor;
}
.socials-link:focus,
.socials-link:hover {
background-color: var(--acent-color);
color: var(--secondary-text-color);
}

.clients{
    font-weight: 700;
        font-size: 36px;
        line-height: calc(42/36);
        text-align: center;
        letter-spacing: 0.03em;
    
        color: var(--main-text-color);
        margin-bottom: 50px;
    }

.clients-list{
    display: flex;
    gap: 30px;
      
}

.clients-bg{
    display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 92px;
        background-color: var(--background-color);
        color: #AFB1B8;
        border: 1px solid currentColor;
        border-radius: 4px;
}

.clients-icon{
        fill: currentColor

}


.clients-bg:hover,
.clients-bg:focus {
    color: var(--acent-color);
}



/*--------Footer-------*/

.footer {
    background-color: var(--background-footer-color);
    padding: 60px 0;
    
    
}
.footer-section{
    display: flex;
    align-items: baseline;
    
}

.logo-footer {
    font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: calc(31/26);    
        letter-spacing: 0.03em;    
        color: var(--acent-color);
        
}
             

.logo-footer-part {
    color: var(--secondary-text-color);
}
.contacts{
    margin-top: 20px;
}
.adress {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: var(--secondary-text-color);

}
.contact-list-footer{
    margin-bottom: 9px;
}

.footer-mail{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--ouwer-text-color);
    line-height: 1.71;
    

}

.footer-phone {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--ouwer-text-color);
    line-height: 1.71;
    

}

.footer-phone:hover,
.footer-phone:focus {
    color: var(--acent-color);
}

.footer-mail:hover,
.footer-mail:focus{
    color: var(--acent-color);
}

.footer-list{
    margin-left: 70px;
}
    


.join{
    font-weight: 700;        
        line-height: calc(16/14);        
        text-transform: uppercase;
    
        color: #FFFFFF;
        margin-bottom: 20px;
}
.footer-social{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

}
.footer-social-item{
    
    }

.footer-socials-link{
    display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        fill: var(--secondary-text-color);
        background-color: #ffffff10;
}

.footer-socials-link:focus,
.footer-socials-link:hover {
    background-color: var(--acent-color);
    color: var(--secondary-text-color);
}
.footer-socials-icon{}


/*---------портфоліо------*/

.portfolio-section{
    padding: 94px 0;
}
.btn-container {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
    
    
    }

.list-btn{
    background-color: var(--backround-section-color);
    
    
}


.list-btn{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: calc(26/16);
text-align: center;
letter-spacing: 0.03em;

color: var(--main-text-color);
background-color: var(--butons-port-color);
cursor: pointer;
padding: 6px 22px;
}

.list-btn:hover, .list-btn:focus{
  color: var(--secondary-text-color);
  background-color: var(--acent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*--------проєкти--------*/


.list-project{
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.project-container{
    width: 370px;  
}



.project-thumb {
    position: relative;
    overflow: hidden;
}

.project-overlay{
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(100%);

    width: 100%;
    height: 100%;

    background-color: rgb(33, 150, 243, 0.9);
    backdrop-filter: blur(1px);

    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    align-items: center;

    transition: 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
 user-select: none;
}

.project-item:hover .project-overlay {
    transform: translateY(0);

}

.overlay-text{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: calc(28/18);
        color: #FFFFFF; 
        
}


.project-link {
    display: block;
}

.project-link:hover,
.project-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}


.project-name{
   
font-weight: 700;
font-size: 18px;
line-height: calc(36/18);
letter-spacing: 0.06em;

color: var(--main-text-color);
margin-bottom: 4px;
}

.about-project{
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: 0px;
}

.about{
 font-weight: 400;
font-size: 16px;
line-height: calc(30/16);
letter-spacing: 0.03em;

color: var(--ouwer-text-color);

}

/*-----Модальне вікно----*/

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px);

    opacity: 1;
    transition: opasity 250ms linear, visibility 150ms linear;
}

.backdrop.is-hidden.modal {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0,9);
    visibility: hidden;
}


.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: transfotm 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 528px;
    min-height: 581px;
    border-radius: 4px;

    background-color: var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);;
}

.modal-btn{
position: absolute;
top: 8px;
right: 8px;
padding: 0;
display: inline-flex;
align-items: center;
justify-content: center;


width: 30px;
height: 30px;
background-color: transparent;
border-radius: 50%;
border: 1px solid rgb(232, 230, 230);
cursor: pointer;
}


