.doing {
@media screen and (max-width: 1199px){
    display: none;
}

    padding-top: 0;

}

.doing__title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 50px;
}

.doing__list {
    display: flex;
    gap: 30px;

}

.doing__image {
    width: 370px;
    display: block;
    max-width: 100%;
    height: auto;
}

.doing__item {
    position: relative;
}

.doing__overlay {
    font-weight: 700;
    line-height: calc(16/14);
    text-transform: uppercase;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 70px;
    position: absolute;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;

    color: #FFFFFF;
}