.list-project {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.project-container {
    width: 370px;
}



.project-thumb {
    position: relative;
    overflow: hidden;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(100%);

    width: 100%;
    height: 100%;

    background-color: rgb(33, 150, 243, 0.9);
    backdrop-filter: blur(1px);

    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    align-items: center;

    transition: transform 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
    user-select: none;
}

.project-link:hover .project-overlay,
.project-link:focus .project-overlay {
    transform: translateY(0);

}

.overlay-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(28/18);
    color: #FFFFFF;

}


.project-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.165, 0.84, 0.44, 1);

}

.project-link:hover,
.project-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}


.project-name {

    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;

    color: var(--main-text-color);
    margin-bottom: 4px;
}

.about-project {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: 0px;
}

.about {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.03em;

    color: var(--ouwer-text-color);

}