.team-section {
    background-color: var(--backround-section-color);
}


.team {
    font-weight: 700;
    font-size: 28px;
        line-height: calc(33/28);   
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-text-color);
    margin-bottom: 30px;

@media screen and (min-width:1200px){
    font-size: 36px;
        line-height: calc(42/36);
    }
}

.image-team {
    width: 450px;
     

@media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
    
}




.team-list {
    justify-content: center;
   align-items: center;


    @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
    
}
 @media screen and (max-width: 767px) {
     .card:not(:last-child) {
         margin-bottom: 30px;
     }
 }
.card {
    background-color: var(--background-color);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            border-radius: 0px 0px 4px 4px;
            
    
    
            @media screen and (min-width: 768px) {
                width: 354px;
            }
    
            @media screen and (min-width: 1200px) {
                width: 270px;
            }
        }
    
        

.person {
    padding: 30px 0;
        text-align: center;

    }

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-text-color);
    margin-bottom: 10px;
}

.proffesion {
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--ouwer-text-color);
    margin-bottom: 16px;
}

.social {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: var(--background-color);
    color: #AFB1B8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:focus,
    &:hover {
        background-color: var(--acent-color);
        color: var(--secondary-text-color);
    }
}

.socials-icon {
    fill: currentColor;
}

