:root {
    --main-text-color: #212121;
    --secondary-text-color: #ffffff;
    --ouwer-text-color: #757575;
    --acent-color: #2196f3;
    --logo-color-text: #000000;
    --butons-port-color: #f5f5f5;
    --backround-section-color: #F5F4Fa;
    --background-footer-color: #2f303a;
    --background-section: #e5e5e5;
    --background-color: #ffffff;
    --main-font: Roboto, sans-serif;

}